h1 {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;

	@media #{$desktop} {
		font-size: 5vmin;
	}
}

h2 {
	font-size: 1.2rem;
	margin-bottom: 1rem;

	@media #{$desktop} {
		font-size: 3.5vmin;
	}
}

h3 {
}

p {
	font-size: 0.9rem;
	margin-bottom: 0.5rem;
	line-height: 1.3;

	@media #{$desktop} {
		font-size: 2.2vmin;
	}

}