 <!--<script type="text/javascript" src="app/js/alarms.js"></script>
 <script type="text/javascript" src="app/js/faults.js"></script>
-->

    <div class="row">
        <div class="column1" >No</div>
        <div class="column2" >LOG INFORMATION</div>
        <div class="column3" >TIME</div>
        <div class="column4" >DATE</div>
        <div class="column5" >STATE</div>
    </div>
    <div class="row">
        <div class="column1" id="fault1"></div>
        <div class="column2" id="alarm1"></div>
        <div class="column3" id="time1"></div>
        <div class="column4" id="day1"></div>
        <div class="column5" id="state1">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault2"></div>
        <div class="column2" id="alarm2"></div>
        <div class="column3" id="time2"></div>
        <div class="column4" id="day2"></div>
        <div class="column5" id="state2">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault3"></div>
        <div class="column2" id="alarm3"></div>
        <div class="column3" id="time3"></div>
        <div class="column4" id="day3"></div>
        <div class="column5" id="state3">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault4"></div>
        <div class="column2" id="alarm4"></div>
        <div class="column3" id="time4"></div>
        <div class="column4" id="day4"></div>
        <div class="column5" id="state4">1</div>>
    </div>    
    <div class="row">
        <div class="column1" id="fault5"></div>
        <div class="column2" id="alarm5"></div>
        <div class="column3" id="time5"></div>
        <div class="column4" id="day5"></div>
        <div class="column5" id="state5">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault6"></div>
        <div class="column2" id="alarm6"></div>
        <div class="column3" id="time6"></div>
        <div class="column4" id="day6"></div>
        <div class="column5" id="state6">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault7"></div>
        <div class="column2" id="alarm7"></div>
        <div class="column3" id="time7"></div>
        <div class="column4" id="day7"></div>
        <div class="column5" id="state7">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault8"></div>
        <div class="column2" id="alarm8"></div>
        <div class="column3" id="time8"></div>
        <div class="column4" id="day8"></div>
        <div class="column5" id="state8">1</div>
    </div>    
    <div class="row">
        <div class="column1" id="fault9"></div>
        <div class="column2" id="alarm9"></div>
        <div class="column3" id="time9"></div>
        <div class="column4" id="day9"></div>
        <div class="column5" id="state9">1</div>
    </div>  
    <div class="row">
        <div class="column1" id="fault10"></div>
        <div class="column2" id="alarm10"></div>
        <div class="column3" id="time10"></div>
        <div class="column4" id="day10"></div>
        <div class="column5" id="state10">1</div>
    </div>  
    

    <a id="cmdplus" class="button2" onclick="log_plus()">&#x25BC</a>
    <a id="cmdminus" class="button2" onclick="log_minus()">&#x25B2</a>