<script type="text/javascript" src="app/js/comms.js"></script>
<script type="text/javascript" src="app/js/startup.js"></script>

<div class="startseq flex-row">
  <div class="data">
    <div class="left flex-col">
      <div id="stat-name1" class="stat">
        <div class="strong">Air Blower</div>
        <span id="status1" class="status"></span>
        <div id="ipled1" class="bleep">
        </div>
      </div>
      
      <div id="stat-name2" class="stat">
        <div class="strong">Water Valves</div>
        <span id="status2" class="status"></span>
        <div id="ipled2" class="bleep">
        </div>
      </div>
      <div id="stat-name3" class="stat">
        <div class="strong">Water Pump</div>
        <span id="status3" class="status"></span>
        <div id="ipled3" class="bleep">
        </div>
      </div>
      <div id="stat-name4" class="stat" >
        <div class="strong">Water Pressure</div>
        <span id="status4" class="status"></span>
        <div id="ipled4" class="bleep">
        </div>
      </div>
      <div id="stat-name5" class="stat">
        <div class="strong">Tower Flow</div>
        <span id="status5" class="status"></span>
        <div id="ipled5" class="bleep">
        </div>
      </div>
      <div id="stat-name6" class="stat" >
        <div class="strong">Cross Jet Flow</div>
        <span id="status6" class="status"></span>
        <div id="ipled6" class="bleep">
        </div>
      </div>
    </div>
    <div class="right flex-col">
      <div id="stat-name7" class="stat" >
        <div class="strong">FMS Powered</div>
        <span id="status7" class="status"></span>
        <div id="ipled7" class="bleep">
        </div>
      </div>
      <div id="stat-name8" class="stat" >
        <div class="strong">PSH 401</div>
        <span id="status8" class="status"></span>
        <div id="ipled8" class="bleep">
        </div>
      </div>
      <div id="stat-name9" class="stat" >
        <div class="strong">FMS Started</div>
        <span id="status9" class="status"></span>
        <div id="ipled9" class="bleep">
        </div>
      </div>
      <div id="stat-name10" class="stat" >
        <div class="strong">Fuel Gas Valve</div>
        <span id="status10" class="status"></span>
        <div id="ipled10" class="bleep">
        </div>
      </div>
      <div id="stat-name11" class="stat" >
        <div class="strong">Temperature</div>
        <span id="status11" class="status"></span>
        <div id="ipled11" class="bleep">
        </div>
      </div>
      <div id="stat-name12" class="stat" >
        <div class="strong">Process</div>
        <span id="status12" class="status"></span>
        <div id="ipled12" class="bleep">
        </div>
      </div>
    </div>
  </div>
  <div class="info success">
    <h1>Success</h1>
      <a class="button" id="success" href="#">Next</a>
  </div>
  
</div>
</div>